.my-card {
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    width: 550px;
}

.entire-page {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.filter {
    max-width: 20%;

}