.my-card {
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    width: 1000px;
    background-color: rgb(236, 237, 237);
    margin-top: 1.6%;
    margin-bottom: 1.6%;
    box-shadow: none;
    padding-top: 1.1%;
    padding-right: 2%;
    height: 82px;
    border-radius: 16px;
}

.my-progress {
    display: flex;
    align-items: center;
    align-self: center;
    margin-top: -8px;
}

.nothing {
    color:rgb(226, 164, 164);
}

.scrollableContainer {
    width: 106.5%;  
    max-width: 1400px;
    max-height: 620px; 
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.1);
}

/* Webkit (Chrome, Edge, Safari) */
.scrollableContainer::-webkit-scrollbar {
    width: 8px;
    height: 16px;
}

.scrollableContainer::-webkit-scrollbar-thumb {
    background: rgb(74, 57, 225) ; /* Example color for the thumb */
    border-radius: 4px; /* Optional: rounded edges */
}

.scrollableContainer::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    height: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.entire-page {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    flex-wrap: wrap;
    box-sizing: border-box;
}

.filter {
    margin-right: 4%;
    background: transparent;
    margin-top: 7%;
}

.filter-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.all-categories {
    font-size: 120%;
    font-weight: 600;
}

.clear-filters {
    color: rgb(79, 221, 214);
}

.custom-divider {
    width: 100%;
    height: 3px; 
    background: linear-gradient(to right, transparent, black 50%, transparent);
    margin: 0 0;
    margin-bottom: 12px;
}

.accordion {
    background: transparent;
    box-shadow: none;
    border: none;
}


.accordion::before {
    display: none; 
}

.searchbar {
    margin-top: 2%;
    margin-left: 4%;
    width: 34%;
    border-radius: 50%;
    border-radius: 40px; 
}

.dropdown {
    white-space: normal;
    width: 200%;
    background-color: white;
}

.searchbar .MuiOutlinedInput-root {
    border-radius: 30px !important;  /* Ensure border-radius is applied */
}

.sorting {
    display: flex;
    margin-left: 5%;
    margin-top: 1%;
    align-items: center;
 }

.sortby {
    margin-right: 2%;
    white-space: nowrap;
}

.viewresults {
   margin-left: 4%;
   white-space: nowrap;
}

.smalllabel {
    font-size: 80%;
    margin-top: 2%;
    margin-left: 4px;
    color: rgb(143, 144, 145);
    font-weight: 600;
}

.category {
    background-color: white;
    padding: 0 0%; 
    text-align: center;
    width: 98px;
    height: 27px; 
    border-radius: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-height: 32px;
    font-weight: 600;
    font-size: 15px;
}

.active {
    background-color: white;
    padding: 0 2%; 
    text-align: center;
    width: 78px;
    height: 27px; 
    border-radius: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-height: 32px;
    font-weight: 600;
    font-size: 15px;
}


.daysago {
    background-color: white;
    padding: 0 2%; 
    text-align: center;
    width: 98px;
    height: 27px; 
    border-radius: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-height: 32px; 
    font-weight: 600;
    font-size: 15px;
}

.first-item {
    width: 190px;
    align-items: start;
    margin-right: 5%;
   
   
}
.first-item p {
    margin-bottom: 0; 
    padding-bottom: 0; 
   
}

.second-item {
    width: 160px;
    align-items: start;
 
}
.second-item p {
    margin-bottom: 0; 
    padding-bottom: 0; 
}

.third-item {
    width: 140px;
    align-items: start;
    margin-right: 5%;
}
.third-item p {
    margin-bottom: 0; 
    padding-bottom: 0; 
}

.myslider {
    margin-right: 60px;
}

.viewmore {
    display: flex;
    text-align: center;
    align-self: center;
    white-space: noWrap;
    color: rgb(143, 144, 145);
    font-weight: 600;
    align-items: center;
}

.headers {
    display: flex;
    margin-left: 5%;
    font-weight: 600;
    margin-top: 2%;
}

.progressTitle {
    width: 92px;
}

.taskTitle {
    width: 188px;
}

.frequencyTitle {
    width: 146px;
}

.lastattempTitle {
    width: 172px;

}