.my-card {
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    width: 110%;
    background-color: rgb(233, 233, 233);
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: none;
}

.entire-page {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);

}


.filter {
    max-width: 20%;
}

.searchbar {
    margin-top: 4%;
    margin-left: 4%;
    width: 60%;
    border-radius: 50%;
    border-radius: 40px; 
}

.dropdown {
    white-space: normal;
    width: 200%;
    background-color: white;
}

.searchbar .MuiOutlinedInput-root {
    border-radius: 30px !important;  /* Ensure border-radius is applied */
}

.sorting {
    display: flex;
    margin-left: 6%;
    margin-top: 2%;
    align-items: center;
 }

.sortby {
    margin-right: 2%;
    white-space: nowrap;
}

.viewresults {
   margin-left: 4%;
   white-space: nowrap;
}

.smalllabel {
    font-size: 80%;
}

.category {
    background-color: white;
    padding: 2%;
    text-align: center;
    width: 100px;
    border-radius: 30px;
    max-height:34px;
}

.active {
    background-color: white;
    padding: 2%;
    text-align: center;
    width: 80px;
    border-radius: 30px;
    max-height:34px;
}

.daysago {
    background-color: white;
    padding: 2%;
    text-align: center;
    width: 80px;
    border-radius: 30px;
    max-height:34px;
    
}

.first-item {
    width: 200px;
}